* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  overflow-wrap: normal;
}
body{
 
  width: 100%;
}
 
.secondnav {
  display: none;
}

.sidebar {
  text-align: center;
  display: none;
  background-color: rgb(66, 168, 19);
  /* height: 110vh; */
  width: 100vw;
  padding: 50px 190px;

}

.sidebar .dropdown {
  display: block;
}

.sidebar li {
  margin-bottom: 30px;
  font-size: 20px;
list-style: none;

}

.logo h2 {
  padding: 20px 0 0 0;
  font-weight: 900;
  font-size: 40px;
}

.nav-btn {
  margin-top: 30px;

}

.nav-btn button {
  padding: 10px 15px;
 border-radius: 20px;
  color: white;
  background-color: rgb(197, 9, 9);
  border: none;
  transition: all.3s ease;
  /* font-size: 16px; */
}

nav li a {
  text-decoration: none;
  text-transform: capitalize;
  color: rgb(12, 12, 12);
  font-weight: 400;
  transition: all .3s ease;
}

.sidebar li a {
  text-decoration: none;
  color: white;

}

nav {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid black;
  margin-top: 0px;
   
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;

}

ul li a {
  display: block;
  padding: 20px 25px;
  color: black;
  text-decoration: none;
  margin-top: 20px;
  font-size: 20px;
  transition: all .5s ease;
}

 

ul li ul.dropdown {

  width: 180px;
  position: absolute;

  z-index: 999;
  display: none;
  background-color: white;
  transition: all 3s ease;
  border: 1px solid black;
}

.dropdown li a:hover {
  color: red;
}

.sidebar ul .dropdown {
  display: none;
  transition: all .2s ease;
}



ul li:hover ul.dropdown {
  display: inline-block;
}

#home {
  background-color: #f2f2f2;
  display: flex;
  justify-content: space-evenly;
}

#home h1 {
  font-family: "Amatic SC", sans-serif;
  word-break: keep-all;
  width: 400px;
  font-size: 60px;
}

#home p {
  font-size: 20px;
  word-break: keep-all;
  margin-top: 20px;
  width: 360px
}

.homeleft {
  margin-top: 180px;
}

/* @keyframes appear {
  from{
    transform: translateY(100px);
    scale: 1.12;
   }
   to{
    transform: translateY(-50px);
    scale: 1;
   }
 }
 .homeleft{
  animation: appear  2s ease-in-out  alternate both;
  
  
 } */

.homeleft-row {
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
}

.homeleft-row button {
  padding: 12px 22px;
  border-radius: 20px;
  color: white;
  background-color: rgb(197, 9, 9);
  border: none;
  transition: all.3s ease;

}

.nav-btn button:hover {
  background-color: rgb(21, 173, 15);
}

.homeleft-row button:hover {
  background-color: rgb(21, 173, 15);
}

.watchvedio {
  font-size: 20px;
  margin-top: 4px;
  text-transform: capitalize;
}

.watchvedio i {
  color: rgb(197, 9, 9);
}

#home img {
  width: 500px;
  margin-top: 50px;
  animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@keyframes up-down {
  0% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(-10px);
  }
}

.abouthead {
  text-align: center;
  /* margin-top: 100px; */
  padding-top: 100px
}

.abouthead h4 {
  text-transform: uppercase;
  font-size: 23px;
  font-family: sans-serif;
  color: #3333336c;

}

#about {
  /* animation:   up-down 2s ease-in-out 6 alternate-reverse both; */
  background-color: #f2f2f2;
  width: 100%;
}

.abouthead h2 {
  text-transform: uppercase;
  color: red;
  font-size: 50px;
  margin-top: 20px;
  font-family: "Amatic SC", sans-serif;
}

.aboutimg img {
  width: 600px;
  margin-left: 25px;
}

.aboutcontent {
  display: flex;
  gap: 60px;
  margin-top: 30px;

}

.aboutrightimg img {
  margin-top: 50px;
  

}

.aboutright p {
  word-break: keep-all;
  width: 520px;
  font-style: italic;
  font-size: 20px;
}

.aboutright ul {
  margin-top: 20px;
  margin-bottom: 20px;
}
.aboutright ul li{
  word-break: keep-all;
  width: 540px;
  line-height: 30px;
}
.aboutright span {

  font-size: 17px;
}

.aboutright ul li i {
  color: red;
  font-size: 20px;
}

.left-box {
  border: 3px solid black;
  text-align: center;
  padding: 15px;
  margin-top: 20px;
  margin-left: 25px;
  color: red;
  text-transform: capitalize;
}

.left-box h4 {
  font-size: 25px;
}

.left-box span {
  font-size: 40px;
}
.aboutcards{
  width: 90vw;
 margin-left: 30px;
   gap: 50px;
}
.about-card-1 {

  width: 100vw;
  /* height: 65vh; */
  background-color: red;
  color: white;
  text-align: left;
  text-transform: capitalize;
padding: 20px;
  transition: all.5s ease;
}

.about-card-1 h2 {
  font-size: 50px;
}

/* .about-card-1 p {
  margin-top: 30px;
  font-size: 17px;
} */

.about-card-1 button {
  padding: 10px 40px;
  margin-top: 20px;
  
  text-transform: capitalize;
  border-radius: 20px;
  border: none;
  background-color: rgba(240, 248, 255, 0.685);

}

.about-card-2 {
  /* width: 240px;
  height: 65vh; */
 
  background-color: rgba(255, 255, 255, 0.589);
  padding: 20px;
  border-radius: 10px;
  transition: all.5s ease;
}

.about-card-2-cont {
  text-align: center;
  margin-top: 30px;
}

.about-card-2-cont h2 {
  margin-top: 30px;
}

.about-card-2-cont p {
  margin-top: 30px;
  font-size: 20px;
}

.icon {
  margin-left: 80px;
  width: 55px;
  height: 55px;
  border-radius: 50%;

  text-align: center;
  transition: all .5s ease;
   background-color: #f2f2f2;

}

.icon i {
  color: red;
  margin-top: 12px;
  font-size: 28px;
}

.about-card-2:hover .icon {
  background-color: red;
  
}
.about-card-2:hover .icon i {
  color: white;
  
}

.aboutcards {
  margin-top: 60px;
  display: flex;

  justify-content: space-evenly;
  /* animation: fadeout 0.5s ease-in-out 2times alternate-reverse both; */
}

/* @keyframes fadeout {
  from {

    transform: translateY(20px);
  }

  to {

    transform: translateY(-30px);
  }
} */


.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.nav-links li {
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  font-weight: bold;
  padding: 10px;
  transition: border-bottom 0.3s ease-in-out;
  cursor: pointer;
}

.nav-links li a.active {
  border-bottom: 3px solid red;
}

.menu-items {
  display: none;
  animation: fadeIn 0.5s ease-in-out;
}

.menu-items.active {
  display: flex;
  flex-direction: column;
}
.start1{
  display: flex;
  /* flex: 1; */
  /* flex-direction: row; */
}
.start2{
  display: flex;
  flex: 1;
  flex-direction: row;
}


.col-md-4 img {
  width: 200px;
}
.menuhead{
   text-align: center;
   margin-top: 50px;
   text-transform: capitalize;
}
.menuhead h2{
  font-family: sans-serif;
}
.menuhead h1{
  font-family: "Amatic SC", sans-serif;
  font-size: 60px;
  color: red;
}

/* #starters,
#breakfast,
#lunch,
#dinner {
  margin-top: 60px;
  margin-left: 260px;
} */
.start1{
  text-align: center;
  margin-top: 60px;
  margin-left:190px;
  align-items: center;

}

#starters p {
  word-break: keep-all;
  width: 300px;
}

#starters span {
  font-size: 20px;
  color: red;
}

#breakfast p {
  word-break: keep-all;
  width: 300px;
}

#breakfast span {
  font-size: 20px;
  color: red;
}

#lunch p {
  word-break: keep-all;
  width: 300px;
}

#lunch span {
  font-size: 20px;
  color: red;
}

#dinner p {
  word-break: keep-all;
  width: 300px;
}

#dinner span {
  font-size: 20px;
  color: red;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slider-container {
  width: 50%;
  margin: auto;
  overflow: hidden; 


}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  text-align: left;
  border-left: 3px solid red;

}



.slide p {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}

.slideimg img {
  width: 150px;
  border-radius: 50%;
}

.slide {
  border-left: 3px solid red;

  flex-wrap: wrap;
  display: flex;
  gap: 40px;
  padding: 30px;
  min-width: 100%;
  text-align: left;
  align-items: center;
}

.slide-content {
  text-transform: capitalize;
  flex: 1;
}

#testimonals {
  background-color: #f2f2f2;
  margin-top: 50px;
  padding-bottom: 30px;
}


.text-wrapper {
  width: 100%;
  margin-top: -90%;
  position: relative;
}

.text-wrapper2 {
  width: 100%;
  margin-top: -20%;
  position: relative;
}

.text {
  color: rgb(247, 242, 242);
  text-align: left;
  font-size: 20px;
  padding: 20px;
}

.text p {
  word-break: keep-all;
  width: 300px;
}

#events {

  padding-bottom: 100px;
}

.content-wrapper img {
  width: 800px;
  /* opacity: 0.5; */


}

/* chefs */
.member-img img {
  width: 333px;
  /* height: 400px; */
  
}

.chef {

  width: 26vw;
  padding-bottom: 20px;
}

.member-info {
  text-align: center;
  padding: 10px;
}

.social a {
  display: block;

  text-align: right;
  margin-bottom: 6px;


}
.team-member-2,.team-member-3,.team-member{
 
  transition: all .5s ease;
}

.social a i {
  font-size: 30px;
  color: rgb(27, 26, 26);
  transition: all.3s ease;
}
.team-member .social{
  position: absolute;
  left: 250px;
}

.social {
  display: none;
  transform: translateX(-100);
  background-color: rgba(38, 39, 39, 0.459);
  padding: 5px;
  padding-right: 10px;
  transition: all 9s ease;
}

.team-member:hover .social {
  display: block;
  margin-top: 30px;

}

.social a i:hover {
  color: aliceblue;
  transform: scale(1.09);
}

.chef {
  margin-left: 100px;
  display: flex;
  gap: 50px;
  margin-top: 30px;
}


.team-member-2 .social {
  display: none;
  position: absolute;
  left: 250px;
  margin-top: 30px;
}

.team-member-2:hover .social {
  display: block;


}

.team-member-3 .social {
  display: none;
  position: absolute;
  left: 250px;
  margin-top: 30px;
}

.team-member-3:hover .social {
  display: block;

  transform: translateX(-15px);

}
.team-member-2:hover{
 transform: scale(1.04);
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.404);
}
.team-member-3:hover{
  transform: scale(1.04);
box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.404);
}
.team-member:hover{
  transform: scale(1.04);

box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.404);
}

.member-info{
  margin-top: 30px;
  padding-bottom: 20px;
}
.member-info h4{
font-size: 25px;
}
.member-info span{
  font-size: 20px;
}
.bookingimg img{
  width: 400px;
}

.bookcontainer{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #f2f2f2;
}
.booking-form{
  display: flex;
  justify-content: space-evenly;
  margin-top: 80px;
 
}
.row-1 input{
  padding: 13px;
  width: 18vw;

}
.row-2 input{
  padding: 13px;
  width: 18vw;
  margin-top: 20px;
}  textarea{
  width:54.5vw ;
  margin-top: 40px;
   font-size: 20px;
   padding-left: 20px;
   padding-top: 10px;
}
.submit input{
  text-transform: capitalize;
    padding: 20px 30px;
    text-align: center;
    color: white;
    background-color: rgb(197, 9, 9);
    border: none;
    transition: all.3s ease;
    width: 20vw;
    font-size: 27px;
  } 
  .submit input:hover{
    background-color: green;
  }
  .submit{
    text-align: center;
     margin-top: 20px;
  }
  iframe{
    width: 80%;
    height: 500px;
   margin-left: 120px;
   /* filter: invert(100%); */
  }
 .contact-content{
  background-color: #f2f2f2;
  padding: 30px;
  margin-top: 50px;
  display: flex;
  justify-content: space-evenly;
 }
 .address ,.emailus,.hours,.call{
  background-color: white;
  width: 30vw;
 
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.363);
  padding: 20px;
 }
 .hours,.call{
  margin-top: 30px;
}
.contact-content i{
color: white;
font-size: 30px;
background-color: red;
height: 50px ;
width: 50px;
border-radius: 50%;
text-align: center;
padding: 10px;
}
.info-item{
  display: flex;
  gap: 100px;
}
.info-item i {
  text-align: left;
}
#contact form{
  padding: 30px;
  width: 60vw;
 background-color: white ;
 box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.363);
  margin: auto;
}
.form-2 input{
  margin-top: 40px;
  padding: 13px;
  width: 25vw;
  
}
.subject input{
  padding: 13px;
  width: 53vw;
 margin-left: 20px;
  margin-top: 30px;
}
#contact form{
  margin-top: 50PX;
  margin-bottom: 40px;
}
.footer-row{
  display: flex;
  justify-content: space-evenly;
}
.d-flex{
  display: flex;

  gap: 10px;
}
.d-flex i {
  
    color: white;
    font-size: 20px;
  
    color: red;
     padding-top: 7px;
     
    }
    footer{
      background-color: rgb(36, 35, 35);
      color: white;
      padding-top: 50px;
     
    }
    .social-links  i{
      color: rgba(114, 100, 100, 0.822);
    background-color: transparent;
    border: 1px solid  rgba(114, 100, 100, 0.822);
    height: 35px ;
    width: 35px;
    border-radius: 50%;
   text-align: center;
   margin-top: 20px;
   transition: all .2s ease;

    }
    .para{
      margin-top: 20px;
    }
    .social-links  i:hover{
      border:  1px solid red;
      color: red;
    }
    .d-flex h4{
      font-size: 20px;
    }
    .footer-row{
      border-bottom: 1px solid white;
      padding-bottom: 30px;
   width: 80%;
   text-align: center;
   margin: auto;
    }
    .copyright{
      margin: auto;
      text-align: center;
      margin-top: 30px;
      padding-bottom: 50px;
      line-height: 30px;
    }
.credits a{
  text-decoration: none;
  color: red;
  font-weight: 100;
  font-size: 19px;
}

.container {
  padding-top: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  /* max-width: 1000px; */
  padding: 100px;
  margin: auto;
  background-image: url(./assets/stats-bg.jpg);
  background-size: cover;
  opacity: 0.8;
  margin-top: 100px;
}

.counter-box {
  opacity: 1;
  padding: 20px;
  
  text-align: center;
  flex: 1;
  margin: 10px;
}

.number {
  font-size: 4rem;
  font-weight: bold;
  color: blue ;
  opacity: 4;
}

.title {
  margin-top: 10px;
  font-size: 2rem;
  color: black ;
}

/* Responsive Design */
@media (max-width: 768px) {
  .container {
      flex-direction: column;
      align-items: center;
  }
  .counter-box {
      width: 80%;
      margin-bottom: 15px;
  }
}
